.card {
    padding: 32;
    margin-bottom: 24;
    margin-top: 20;
}
.fontIcon {
    float: left;
    font-size: 50;
}
.content {
    width: 100%;
    padding-left: 78; 
}
.title {
    font-size: 16;
    margin-bottom: 10;
}
.number {
    font-size: 24;
    height: 15;
}